@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Sora:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------- ALLGEMEINES STYLING ------- */

:root {
    --camperOrange: #FF7144;
    --camperOrangeHover: #FF9635;
    --camperGrey100: #666666;
    --camperGrey: #A7A7A7;
    --camperBlack: #1A1A1A;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 1px;
    color: var(--camperBlack);
    margin-bottom: 8px;
}

h2 {
    font-family: 'Sora';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--camperGrey100);
    margin-bottom: 24px;   
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 2px;
    color: var(--camperOrange);
}

h4 {
    font-family: 'Sora', sans-serif;    
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;    
    margin-bottom:16px;
    color: var(--camperBlack);
}

main {
    max-width: 576px;
}
/* ------ NAV BAR ------ */

/* #click {
    width: 48px;
    height: 48px;
    background-color: var(--camperOrange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
} */

nav {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 50px;
    position: fixed;
    right:10px;
    top: 92vh;
    overflow: hidden;
    width: 50px;
}

.iconShow {
    overflow: visible;
}

.burger {
    overflow: hidden;
}

.active2 {
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 5px;
}

nav ul li {
    width: 48px;
    height: 48px;
    background-color: var(--camperOrange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

nav ul li:hover {
    background-color: var(--camperOrangeHover);
}

nav img {
    width: 100%;
}



/* ------- SECTION ------ */
.weingutHaas {
    background: url(../img/Weingut-Base.png) no-repeat;
    background-size: cover;
    height: 251.51px;
}

.wohnenImGut {
    background: url(../img/Wohnen-im-Gut-Base.png) no-repeat;
    background-size: cover;
    height: 251.51px;
}

.dachgeschoss {
    background: url(../img/Dachgeschoss.png) no-repeat;
    background-size: cover;
    height: 251.51px;
}

.verlinkung {
    text-decoration:none !important;
    color: inherit !important;
}

.wohnenImGut img {
    margin: 161px 0 60.5px 39px;
}

.dachgeschoss img {
    margin: 161px 0 60.5px 39px;
}

.container {
    background-color: #fff;
    border-radius: 12px;
    margin-top: -20px;
    padding: 32px 39px;
}

.result {
    border: 1px solid var(--camperOrange);
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 16px;
}

.result h4+p:last-of-type {
    font-family: 'Sora', sans-serif;    
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: var(--camperGrey100);
}


.personen {
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.personen p:last-of-type {
    color: var(--camperGrey);
}

.icons {
    margin-bottom: 23px;
}

.icons, .icons div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.icons div:first-of-type p {
    padding: 6px 12px;
    height: 28px;
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    font-family: 'Sora';
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.icons div:first-of-type p:first-of-type {
    width: 60px;
}

.icons div:first-of-type p:last-of-type {
    width: 107px;
}


/* ------- KARUSELL------- */

#karusell {
    display: flex;  
    align-items: center; 
    margin-bottom:36px;
}

#karusell img:nth-of-type(2) {
    border-radius: 15px;
}

#karusell img:nth-of-type(1) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 200px;
}

#karusell img:nth-of-type(3) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 200px;
}

#karusell img:nth-of-type(2){
    margin: 0 16px;
}

/* -------- Extra Section ----- */

.extra {
    padding-left: 39px;
}

.extra >p {
    margin-bottom: 36px;
}

.wrapperExtra {
    display:flex;
    border-bottom: 1px solid #E9E9E9;
    padding: 16px 0;
}

.wrapperExtra div:first-of-type {
    display:flex;
    align-items: center;    
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 16px;
}

.wrapperExtra:first-of-type {
    padding-top: 0;
}

.wrapperExtra:last-of-type {
    border-bottom: none;
}

.extra > p {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}


.wrapperExtra div:last-of-type p:first-of-type {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.wrapperExtra div:last-of-type p:last-of-type {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
}

/* -------- FORM -------- */

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form:last-of-type {
    margin-top:29.5px;
}

.check {
    border: 1px solid var(--camperOrange);
    border-radius: 12px;
    padding: 6px 5px;
    height: 32px;
}
.check img {
    vertical-align: middle;
    margin-left: 5px;
}

.check:not(:last-child) {
    padding: 6px 24px 6px 16px;
}

.check:last-of-type {
    padding: 6px 16px;
}

.check p:first-of-type {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
    color: var(--camperOrange);
}

.check p:last-of-type {
    font-family: 'Sora';
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #4F4F4F;
}

.buchen p:first-of-type {
    font-family: 'Sora';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #4F4F4F;
}

.buchen p:last-of-type {
    font-family: 'Sora';
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: var(--camperGrey100);
}

button {
    padding: 6px 28px;
    width: 118px;
    height: 42px;
    background-color: var(--camperOrange);
    border-radius: 60px;
    border: none;
    color: white;
}

button:hover {
    background: linear-gradient(0deg, rgba(255, 150, 53, 0.5), rgba(255, 150, 53, 0.5)), #FF7144;
}

button p {
    font-family: 'Sora';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
